.tweet-button {
  min-width: 100%;
}

.search-bar {
  width: 100%;
}

.search-bar-input {
  font-family: Arial, FontAwesome;
}

.settings {
  color: rgb(29, 161, 242);
}

.starship {
  width: 100%;
}

.starship-text {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.wd-topic {
  margin: 0;
  color: dimgray;
}

.topic-title {
  display: inline;
  font-weight: bold;
}

.verified {
  display: inline;
}

.topic-time {
  display: inline;
  margin: 0;
  color: dimgray;
}

.topic-text {
  font-weight: bold;
  margin: 0;
}

.topic-logo {
  width: 100%;
  border-radius: 12px;
}

.topic-tweets {
  margin: 0;
  color: dimgray;
}

.follow-logo {
  width: 100%;
  border-radius: 50%;
}

.follow-name {
  white-space: nowrap;
  font-weight: bold;
  z-index: 2;
}

/* .follow-button {
  border-radius: 24px;
} */
